@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body, html {
    height: 100%;
    margin: 0 0 0 0;
    background-color:rgb(51, 51, 51);
    color:rgb(226, 222, 223);
    font-family: 'PT Sans', sans-serif;
}

a {
    color:rgb(60, 180, 250);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#navigation {
    width: 750px;
    margin: 0 auto;
    padding:10px 10px 10px 10px;
    position: relative;
}
#active {
    text-decoration: underline;
}
#main {
	background-color:rgb(68, 68, 68);
    font-size: 19px;
    width:900px;
    border:1px;
    border-radius:7px;
    margin:0 auto;
    margin-bottom:20px;
}
#content {
    width: 750px;
    margin: 0 auto;
    padding:10px 10px 10px 10px;
    position: relative;
}

#header {
  padding: 40px;
  text-align: center;
  /*background: #1abc9c;*/
  background-image: url('../storage/barcelona_header.jpg');
  /*Image source: https://pipr.restplass.no/rg/-/scale_crop/980x400/center/https://storage.googleapis.com/rg-wp-assets/2019/02/b6/4f/b6/bc/11/87/dd/e4/spania-barcelona-view-beach-1000x667.jpg*/
  color: white;
  font-size: 30px;
}


#footer {
  border-top: solid 1px;
}
#rec_container {
    margin-bottom: 40px;
}

.rec_box {
    border: solid 1px;
    width: 220px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    text-align: center;
}
.rec_box:hover {
  box-shadow: 0 0 10px #9ecaed;
}
.rec_box h1 {
    margin: 0;
    font-size: 1em;
    word-wrap: break-word;
}
.img {
    height: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 1024px) {
#hoved {
  width: 100%;
}
#innhold {
  width: 100%;
  padding: 0;
}
p {
  overflow-wrap: break-word;
  padding-left: 5px;
}
#img_slider {
  border: 0px;
}
}


@media screen and (max-width: 641px) {
#navigasjon {
  display: inline-block;
  width: 100%;
}
}