body{
	margin: 0;
	padding: 0;
}
.container{
	width:100%;
	height:auto;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.about{
	width:100%;
	height: 100%;
	background-image: url(https://lp-cms-production.imgix.net/2019-06/c81f09d36451a030f40f459726f31a96-barcelona.jpeg?fit=crop&q=40&sharp=10&vib=20&auto=format&ixlib=react-8.6.4); /*Bakgrunnsbilde*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.text{
	font-size: 30px;
	color:#fff;
	font-family: sans-serif;
	text-shadow: 0px 15px 12px #000;
}
.line{
	width:200px;
	height: 8px;
	background-color: #17ff8d;
	display: block;
	position: relative;
	border-radius: 5px;
	left:10%;
	box-shadow: 0px 15px 12px 0px #000;
}
.content{
	width:100%;
	height:auto;
	background-color: #92a8d1;
	font-size: 23px;
	font-family: audiowide;
	color:#333;
	line-height: 30px;
	text-align: center;
}
b{
	font-size: 50px;
	color:#000;
	font-weight: 500px;
}
footer{
	width:100%;
	height: auto;
	background-color: #333;
	color: #17ff8d;
	font-size: 23px;
	text-align: center;
	line-height: 50px;
}