@media only screen and (max-width: 480px) {
    @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
    body,
    html {
        margin: 0;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        height: 100%;
    }
    .trips {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin-bottom: 50px;
    }
    h3,
    h4 {
        text-align: center;
    }
    .submit_button_3 {
        grid-column: 1;
        background: linear-gradient(90deg, rgba(132, 196, 251, 1) 0%, rgba(206, 248, 255, 1) 100%);
        border-radius: 3px;
        border: 3px solid #ffffff;
        display: inline-block;
        cursor: pointer;
        color: rgb(83, 83, 83);
        font-family: Arial;
        font-size: 17px;
        padding: 10px 40px;
        text-decoration: none;
        width: 150px;
        font-weight: bold;
    }
    .submit_button_5 {
        grid-column: 1;
        width: 150px;
        float: right;
        background: linear-gradient(90deg, rgb(206, 248, 255) 0%, rgba(132, 196, 251, 1) 100%);
        color: rgb(83, 83, 83);
        border: 3px solid #ffffff;
        display: inline-block;
        cursor: pointer;
        font-family: Arial;
        font-size: 17px;
        padding: 10px 40px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .button_wrap{
        width: 301px;
        margin-left: auto;
        margin-right: auto;
    }
    #map {
        grid-column: 1;
        grid-row: 2;
    }

    .trip_direction {
        width: 260px;
        text-align: center;
        margin: 0 auto;
        border: dotted 1px rgb(77, 77, 77);
        background: rgb(168, 208, 243);
        border-radius: 10px;
        margin-bottom: 20px;
    }
}