@media only screen and (max-width: 480px) {

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body, html {
    height: 100%;
    margin: 0 0 0 0;
    background-color:rgb(51, 51, 51);
    color:rgb(226, 222, 223);
    font-family: 'PT Sans', sans-serif;
    max-width: 640px;
}

a {
    color:rgb(60, 180, 250);
    text-decoration: none;
}

a {
  cursor: pointer;
}

#main img {
	padding:15px;
}

#navigation {
    max-width: 480px;
    margin: 0 auto;
    padding:10px 10px 10px 10px;
    position: relative;
}
#active {
    text-decoration: underline;
}
#main {
	background-color:rgb(68, 68, 68);
    font-size: 19px;
    max-width:480px;
    border:1px;
    border-radius:7px;
    margin:0 auto;
    margin-bottom:20px;
    height: 100%;
}
#content {
	border-top: solid 1px;
    max-width: 100%;
    margin: 0 auto;
    padding:10px 10px 10px 10px;
    position: relative;
    text-align: center;
}

#header {
  padding-top: 0px;
  text-align: center;
  /*background: #1abc9c;*/
  background-image: url('');
  /*Image source: https://pipr.restplass.no/rg/-/scale_crop/980x400/center/https://storage.googleapis.com/rg-wp-assets/2019/02/b6/4f/b6/bc/11/87/dd/e4/spania-barcelona-view-beach-1000x667.jpg*/
  color: white;
  font-size: 30px;
}

#overview{
	max-width: 100%;
    margin: 0 auto;
    padding:10px 10px 10px 10px;
    position: relative;
}


#footer {
    border-top: solid 1px;
    border-bottom: solid 1px;
}


}