/* CORE STYLES */
:root {
  --primary-color: rgba(0, 0, 0, 0);
  --overlay-color: rgba(0, 0, 0, 0.85);
  --menu-speed: 1.0s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: left;
  justify-content: left;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: black;
  display: flex;
  align-items: left;
  justify-content: left;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  background: rgb(247, 5, 6);
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  background: rgb(247, 5, 5);
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
  opacity:0.9;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 250vw;
  height: 250vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.2s ease;
  
}

.menu-wrap .menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.menu-wrap .menu > div > div > ul > li {
  position: relative;
  top: -5vw;
  right: 35vw;
  height: auto;
  margin: auto;
  list-style: none;
  color: rgba(255, 255, 255, 0.808);
  font-size: 2.8rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  transition: color 0.2s ease;
}

@media screen and (max-width: 650px) {
  .menu-wrap .hamburger > div::before{
      display:block;
      transition:all .5s;
      
  
  }
.menu-wrap .hamburger > div::after {
  display:block;
  
}
.menu-wrap .hamburger > div {
  display:block;
  
}
.menu-wrap .toggler{
  display:block;
  
}
.topnav a {
  display:none;
  visibility:hidden;
}
.menu-wrap .menu > div > div > ul > li {
  position: relative;
    top: -55vw;
    left: 0;
    width:auto;
    height:auto;
    text-align: center;
    font-size:1.9rem;
    margin:5px;
    padding:0px;
  
 
}

}