/*Navigation bar - JUST FOR TESTING*/
.topnav {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.topnav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  font-size: 22px;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  font-weight: bold;
}

.topnav a:hover:not(.active) {
  background-color: white;
  color: #f03727;
  text-decoration-line: underline;
}

.topnav .active {
  background-color: white;
  color: #f03727;
  text-decoration-line: underline;
}

.topnav:last-child {
  border-right: none;
}
