@media only screen and (min-width: 480px) {
  body {
    background-color: rgb(53, 53, 53);
    font-family: 'Open Sans', sans-serif;
  }

.background {
      width: 100%;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: inherit;
  display: block;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

button {
  background-color: rgba(51, 51, 51, 0.7);
  border: none;
  position: relative;
  outline: none;
  margin: 0 auto;
  padding: 6px;
  color: rgb(255, 255, 255);
  height: 45px;
  width: 340px;
  margin-top: 20px;
  font-size: large;
  cursor: pointer;
}

.button__one {
  background-color: rgba(19, 165, 19, 0.8);
  color: white;
  margin-top: 60px;
  border-radius: 12px;
}

.button__two {
  background-color:rgba(209, 34, 34, 0.8);
  border-radius: 12px;
}

.button__three {
  background-color: rgba(36, 51, 50, 0.8);
  border-radius: 12px;
  width: 250px;
}

.button__wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.input_box {
  background: rgba(51, 51, 51, 0.7);
  border: none;
  position: relative;
  display: block;
  outline: none;
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: auto;
  width: 420px;
  height: 30px;
  padding: 10px;
  color: white;
  font-size: large;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5)
}

::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5);} 
:-moz-placeholder { color: rgba(255, 255, 255, 0.5)); }
::-moz-placeholder { color: rgba(255, 255, 255, 0.5); }
:-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }

.password {
  margin-top: 10px;
}

video {
  position: fixed;
  right: 0; 
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  object-fit: cover;
  z-index: -100;
}

h2 {
  color:rgba(29, 29, 29, 0.7);
  border: none;
  position: relative;
  display: block;
  outline: none;
}

a {
  text-decoration: none;
}

.video__wrapper{
  position: fixed;
  right: 0; 
  bottom: 0;
  top: 0;
  left: 0;
}

h5 {
  color:rgb(29,29,29);
}

.guest_button a{
  color:rgb(0, 47, 255);
}

}