@media only screen and (min-width: 840px) {
    .footer__wrapper {
        border-top-style: solid;
        border-width: 2px;
        height: 100px;
        background-color: white;
        width: 100%;
        margin-bottom: 0px;
    }
    .fb-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }
    .footer__text {
        text-align: center;
    }
    #map {
        width: 100%;
        height: calc(100vh - 50px);
        z-index: 0;
        padding-top: 100px;
    }
    .mapHolder {
        display: grid;
    }
}