@media only screen and (min-width: 480px) {
    .trips {
        margin-top: 120px;
    }
    h3,
    h4 {
        text-align: center;
    }
    .submit_button_3 {
        background: linear-gradient(90deg, rgba(132, 196, 251, 1) 0%, rgba(206, 248, 255, 1) 100%);
        border-radius: 3px;
        border: 3px solid #ffffff;
        display: inline-block;
        cursor: pointer;
        color: rgb(83, 83, 83);
        font-family: Arial;
        font-size: 17px;
        padding: 10px 40px;
        text-decoration: none;
        width: 50%;
        font-weight: bold;
    }
    .submit_button_5 {
        width: 50%;
        float: right;
        background: linear-gradient(90deg, rgb(206, 248, 255) 0%, rgba(132, 196, 251, 1) 100%);
        color: rgb(83, 83, 83);
        border: 3px solid #ffffff;
        cursor: pointer;
        font-family: Arial;
        font-size: 17px;
        padding: 10px 40px;
        text-decoration: none;
        font-weight: bold;
    }
}