@media only screen and (min-width: 480px) {
    @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
    body,
    html {
        margin: 0;
        background: rgb(255, 112, 112);
        color: rgb(0, 0, 0);
        height: 100%;
    }

    .tripUser {
        margin-bottom: 50px;
    }

    .tripUser h1 {
        margin-left: 5px;
        margin-bottom: 15px;
        font-size: 32px;
        padding-top: 120px;
        text-align: center;
    }

    .tripUser select {
        width: 220px;
        height: 28px;
        font-size: 18px;
        display: block;
        margin: 0 auto;
    }

    .submit_button {
        box-shadow: inset 0px 5px 17px 0px #a4e271;
        background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
        background-color: #89c403;
        border-radius: 10px;
        border: 1px solid #74b807;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
        padding: 4px 15px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #528009;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .back_button {
        box-shadow: inset 0px 5px 17px 0px #ff0000;
        background: linear-gradient(to bottom, #fc1414 5%, #ce0404 100%);
        background-color: #be2600;
        border-radius: 10px;
        border: 1px solid #ca0707;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
        padding: 4px 15px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ff0000;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .back_button a {
        color: white;
        text-decoration: none;
    }

    .button_wrapper{
        margin: auto;
        width: 150px;
    }
}